:root {
  --white: #fff;
  --opacity-white: #d7ccc0;
  --light: #f5f4f0;
  --main: #fe8a02;
  --main-dark: #42413c;
  --dark: #2a2626;
  --opacity-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 300;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

@font-face {
  font-weight: 300;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

body {
  margin: 0;

  color: #2a2626;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.6em;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: Neucha, sans-serif;
  
}

h1 {
  font-weight: 400;
  font-size: 72px;
}

h2 {
  font-weight: 400;
  font-size: 60px; 
}

h3 {
  font-weight: 400;
  font-size: 34px;
}

.color-bg-light {
  background-color: var(--light);
}

.color-bg-dark {
  background-color: var(--dark);
}

.color-bg-white {
  background-color: var(--white);
}

.color-bg-main-dark {
  background-color: var(--main-dark);
}

.color-bg-brown {
  background-color: var(--brown);
}

.color-main {
  color: var(--main);
}

.color-white {
  color: var(--white);
}

.page {
  display: flex;

  width: 100%;
  height: fit-content;
  
  justify-content: center;
  overflow: hidden;
}

.page-content {
  position: relative;
  z-index: 1;
    
  display: flex;
  flex-wrap: wrap;

  width: 1110px;

  margin: 100px 0;  
}

.pattern::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.column {
  width: 540px;
}

.main-button {
  width: 148px;
  height: 49px;

  margin-top: 40px;
  padding: 12px 24px;

  border: 0;
  
  color: var(--white);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.6em;
  font-family: "Open Sans", sans-serif;
  
  text-align: center;
  text-transform: uppercase;

  background-color: var(--main);
}

.small-button {
  width: 70px;
  height: 50px;

  background-color: var(--main);

  border: 0;
}

button:hover {
  background-color: #Ea7600;
}

.break {
  break-before: column;
}

.columns p {
  margin-top: 0;
}

.page-transform-100 {
  transform: translateY(-100px);
}

.page-header {
  justify-content: space-between;
}

.page-header > .image-header {
  position: absolute;
  top: -50px;
  right: -270px;

  z-index: -1;

  height: 525px;
}

.page-header h1 {
  width: 100%;

  margin: 0;
  
}

.page-header .columns {
  margin-top: 185px;

  column-count: 2;
  column-gap: 30px;
}

nav a {
  display: block;
  width: 100%;
  height: 100%;
  
  color: inherit !important;
  
  text-decoration: none !important;
}

.page-header a {
  display: block;
  width: 100%;
  height: 100%;

  color: inherit !important;

  text-decoration: none !important;
}

.page-video {
  justify-content: center;

  margin-bottom: 0;
}

.page-video h2 {
  width: 100%;

  margin: 0;
  
  text-align: center;
}

.page-video p {
  margin-top: 30px;
  margin-bottom: 0;
}

.page-video iframe {
  border: 0;
}

.video {
  margin-top: 30px;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

.page-nav {
  justify-content: space-between;
  margin-top: 200px;
}

.card {
  box-sizing: border-box;
  width: 350px;

  padding: 24px;

  background-color: var(--light);
}

.card-number {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
  font-family: Neucha, sans-serif;
}

.card-small {
  height: 323px;
}

.card-large {
  height: 348px;

  margin-top: 20px;
}

.page-nav h2 {
  width: 350px;

  margin: 0;

  font-size: 52px;
}

.page-nav p {
  margin-top: 0;
}

.page-nav h3 {
  margin-bottom: 16px;
}

.card:hover {
  color: var(--white);

  background-color: var(--main);
}

.page-main h3 {
  display: block;
  width: 100%;
  
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  
  margin-top: 100px;
  margin-bottom: 0;
  
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
    
  text-transform: uppercase;
}

.page-footer h3 {
  margin-top: 55px;
  margin-bottom: 55px;
  margin-left: 55px;
  
  color: var(--white);
  }

.card:hover h3 {
  color: var(--white);
}

.page-main {
  justify-content: space-between;
}

.page-description {
  display: block;

  width: 502px;
}

.left {
  margin-left: 30px;
}

.right {
  margin-right: 30px;

  color: var(--white);
}

.chapter {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2em;
  font-family: Neucha, sans-serif;

  margin: 0;

  color: var(--opacity-dark);
}

.right .chapter {
  color: var(--opacity-white);
}

.page-main h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.page-description .description {
  margin-top: 30px;

  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

.page-main img {
  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 15%));
}

.left-brown {
  color: var(--white);
  
  background-color: var(--brown);
}

.right-white {
  color: var(--brown);
  
  background-color: var(--white);
}

.page-main .columns {
  margin-top: 20px;

  column-count: 2;
  column-gap: 30px;
}

.page-footer {
  justify-content: space-between;
  margin-bottom: 100px;
}

.page-footer > div {
  width: 100%;
}

.footer-data {
  margin-top: 76px;

  font-size: 14px;
  text-align: center;
}

.footer-data p {
  margin-top: 0;
  margin-bottom: 16px;
}

.page-footer-email {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form {
  display: flex;
  justify-content: center;
}

.page-footer-email form {
  margin-right: 55px;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;

  padding: 0;

  overflow: hidden;

  border: 0;

  white-space: nowrap;
}

.form-name {
  margin-top: 40px;
  margin-bottom: 9px;

  color: var(--white);

  font-size: 18px;
  text-align: left;
}

.page-footer input {
  box-sizing: border-box;
  
  width: 415px;
  height: 50px;

  padding: 0;

  border: 1px solid #e3e3e3;
}

form ::placeholder {
  font-size: 13.1px;
  columns: #757575;

  padding-top: 17px;
  padding-bottom: 18px;
  padding-left: 15px;
}

.small-button::before {
  position: absolute;

  width: 20px;
  height: 20px;

  margin-top: -10px;
  margin-left: -10px;

  background-image: url("../assets/images/send.svg");
  background-repeat: no-repeat;
  background-size: cover;
  
  content: '';
}

.footer-rules-agreement {
  margin-top: 0;

  color: var(--white);

  font-size: 12px;
}

.footer-rules-agreement a {
  color: var(--white) !important;
}

.footer-data a {
  color: var(--blue) !important;
}
