:root {
    --white: #fff;
    --opacity-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --opacity-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

@font-face {
    font-weight: 300;
    font-family: Neucha;
    src: url(../assets/fonts/Neucha-Regular.ttf);
}

@font-face {
    font-weight: 300;
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-Bold.ttf);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: Neucha, sans-serif;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
    font-weight: 400;
}

h2 {
    font-size: 60px;
    font-weight: 400;
}

h3 {
    font-size: 34px;
    font-weight: 400;
}

.color-bg-light {
    background-color: var(--light);
}

.color-bg-dark {
    background-color: var(--dark);
}

.color-bg-white {
    background-color: var(--white);
}

.color-bg-main-dark {
    background-color: var(--main-dark);
}

.color-bg-brown {
    background-color: var(--brown);
}

.color-main {
    color: var(--main);
}

.color-white {
    color: var(--white);
}

.page {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    width: 1110px;
    margin: 100px 0;
    position: relative;
    z-index: 1;
}

.pattern::before {
    background-image: url(../assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    content: '';
}

.column {
    width: 540px;
}

.main-button {
    width: 148px;
    height: 49px;

    border: 0;

    margin-top: 40px;
    padding: 12px 24px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;

    background-color: var(--main);
}

button:hover {
    background-color: #EA7600;
}

.break {
    break-before: column;
}

.columns p {
    margin-top: 0;
}

.page-header {
    justify-content: space-between;
}

.page-header>.image-header {
    position: absolute;
    top: -55px;
    right: -270px;
    height: 525px;
    z-index: -1;
}

.page-header h1 {
    margin: 0;
    width: 100%;
}

.page-header .columns {
    column-count: 2;
    column-gap: 30px;

    margin-top: 185px;
}

.page-header a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: inherit !important;
}

.page-one {
    justify-content: center;
    margin-bottom: 0;
}

.page-one h2 {
    margin: 0;
    width: 100%;
    text-align: center;
}

.page-one p {
    margin-top: 30px;
}

.video {
    margin-top: 30px;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.page-two {
    justify-content: space-between;
    margin-top: 200px;
}

.page-transform-100 {
    transform: translateY(-100px);
}

.card {
    box-sizing: border-box;
    width: 350px;

    background-color: var(--light);

    padding: 24px;
}

.card-number {
    font-family: Neucha, sans-serif;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 40px;
}

.card-small {
    height: 323px;
}

.card-large {
    height: 348px;
    margin-top: 20px;
}

.page-two h2 {
    font-size: 52px;
    width: 350px;

    margin: 0;
}

.page-two p {
    margin-top: 0;
}

.page-two h3 {
    margin-bottom: 16px;
}

.card:hover {
    color: var(--white);
    background-color: var(--main);
}

.card:hover h3 {
    color: var(--white);
}

nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: inherit !important;
}

.page-three {
    justify-content: space-between;
}

#ikea-effect {
    transform: translateY(-100px);
}

.page-three-description {
    display: block;
    width: 502px;
    margin-left: 30px;
}

.page-three-description .chapter {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2em;

    color: var(--opacity-dark);

    margin: 0;
}

.page-three-description h2 {
    margin-top: 0;
}

.page-three-description .description {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2em;

    margin-top: 30px;
}

.page-three img {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.page-three h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
    color: var(--white);
    text-transform: uppercase;

    display: block;
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    margin-top: 100px;
    margin-bottom: 0;

    background-color: var(--brown);
}

.page-three .columns {
    column-count: 2;
    column-gap: 30px;

    margin-top: 20px;
}

.page-four {
    justify-content: space-between;
}

#premature-optimization {
    transform: translateY(-100px);
}

.page-four-description {
    display: block;
    width: 502px;
    margin-right: 30px;
}

.page-four-description .chapter {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2em;

    color: var(--opacity-white);

    margin: 0;
}

.page-four-description h2 {
    color: var(--white);
    margin-top: 0;
}

.page-four-description .description {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2em;

    color: var(--white);

    margin-top: 30px;
}

.page-four img {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.page-four h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
    color: var(--brown);
    text-transform: uppercase;

    display: block;
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    margin-top: 100px;
    margin-bottom: 0;

    background-color: var(--white);
}

.page-four .columns {
    column-count: 2;
    column-gap: 30px;

    color: var(--white);

    margin-top: 20px;
}

.page-five {
    justify-content: space-between;
}

#distortion-of-novelty {
    transform: translateY(-100px);
}

.page-five-description {
    display: block;
    width: 502px;
    margin-left: 30px;
}

.page-five-description .chapter {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2em;

    color: var(--opacity-dark);

    margin: 0;
}

.page-five-description h2 {
    margin-top: 0;
}

.page-five-description .description {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2em;

    margin-top: 30px;
}

.page-five img {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.page-five h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
    color: var(--white);
    text-transform: uppercase;

    display: block;
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    margin-top: 100px;
    margin-bottom: 0;

    background-color: var(--brown);
}

.page-five .columns {
    column-count: 2;
    column-gap: 30px;

    margin-top: 20px;
}

.page-six {
    justify-content: space-between;
}

#hyperbolic-depreciation {
    transform: translateY(-100px);
}

.page-six-description {
    display: block;
    width: 502px;
    margin-right: 30px;
}

.page-six-description .chapter {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2em;

    color: var(--opacity-white);

    margin: 0;
}

.page-six-description h2 {
    color: var(--white);
    margin-top: 0;
}

.page-six-description .description {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2em;

    color: var(--white);

    margin-top: 30px;
}

.page-six img {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.page-six h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
    color: var(--brown);
    text-transform: uppercase;

    display: block;
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    margin-top: 100px;
    margin-bottom: 0;

    background-color: var(--white);
}

.page-six .columns {
    column-count: 2;
    column-gap: 30px;

    color: var(--white);

    margin-top: 20px;
}

.page-seven {
    justify-content: space-between;
}

#errors-in-planning {
    transform: translateY(-100px);
}

.page-seven-description {
    display: block;
    width: 502px;
    margin-left: 30px;
}

.page-seven-description .chapter {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2em;

    color: var(--opacity-dark);

    margin: 0;
}

.page-seven-description h2 {
    margin-top: 0;
}

.page-seven-description .description {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2em;

    margin-top: 30px;
}

.page-seven img {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.page-seven h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
    color: var(--white);
    text-transform: uppercase;

    display: block;
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    margin-top: 100px;
    margin-bottom: 0;

    background-color: var(--brown);
}

.page-seven .columns {
    column-count: 2;
    column-gap: 30px;

    margin-top: 20px;
}