:root {
    --white: #fff;
    --opacity-white: #d7ccc0;
    --light: #f5f4f0;
    --main: #fe8a02;
    --main-dark: #42413c;
    --dark: #2a2626;
    --opacity-dark: #908d8b;
    --brown: #b09a81;
    --blue: #1085c5;
}

@font-face {
    font-weight: 300;
    font-family: Neucha;
    src: url(../assets/fonts/Neucha-Regular.ttf);
}

@font-face {
    font-weight: 300;
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-weight: 700;
    font-family: 'Open Sans';
    src: url(../assets/fonts/OpenSans-Bold.ttf);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: Neucha, sans-serif;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
    font-weight: 400;
}

h2 {
    font-size: 60px;
    font-weight: 400;
}

h3 {
    font-size: 34px;
    font-weight: 400;
}

.color-bg-light {
    background-color: var(--light);
}

.color-bg-dark {
    background-color: var(--dark);
}

.color-bg-white {
    background-color: var(--white);
}

.color-bg-main-dark {
    background-color: var(--main-dark);
}

.color-bg-brown {
    background-color: var(--brown);
}

.color-main {
    color: var(--main);
}

.color-white {
    color: var(--white);
}

.page {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    width: 1110px;
    margin: 100px 0;
    position: relative;
    z-index: 1;
}

.pattern::before {
    background-image: url(../assets/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    content: '';
}

.column {
    width: 540px;
}

.main-button {
    width: 148px;
    height: 49px;

    border: 0;

    margin-top: 40px;
    padding: 12px 24px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;

    background-color: var(--main);
}

.small-button {
    width: 70px;
    height: 50px;

    border: 0;

    background-color: var(--main);
}

button:hover {
    background-color: #EA7600;
}

.break {
    break-before: column;
}

.columns p {
    margin-top: 0;
}

.page-transform-100 {
    transform: translateY(-100px);
}

.page-header {
    justify-content: space-between;
}

.page-header>.image-header {
    position: absolute;
    top: -50px;
    right: -270px;
    height: 525px;
    z-index: -1;
}

.page-header h1 {
    margin: 0;
    width: 100%;
}

.page-header .columns {
    column-count: 2;
    column-gap: 30px;

    margin-top: 185px;
}

.page-header a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: inherit !important;
}

.page-video {
    justify-content: center;
    margin-bottom: 0;
}

.page-video h2 {
    margin: 0;
    width: 100%;
    text-align: center;
}

.page-video p {
    margin-top: 30px;
    margin-bottom: 0;
}

.page-video iframe {
    border: 0;
}

.video {
    margin-top: 30px;

    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.page-nav {
    justify-content: space-between;
    margin-top: 200px;
}

.card {
    box-sizing: border-box;
    width: 350px;

    background-color: var(--light);

    padding: 24px;
}

.card-number {
    font-family: Neucha, sans-serif;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 40px;
}

.card-small {
    height: 323px;
}

.card-large {
    height: 348px;
    margin-top: 20px;
}

.page-nav h2 {
    font-size: 52px;
    width: 350px;

    margin: 0;
}

.page-nav p {
    margin-top: 0;
}

.page-nav h3 {
    margin-bottom: 16px;
}

.card:hover {
    color: var(--white);
    background-color: var(--main);
}

.card:hover h3 {
    color: var(--white);
}

nav a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
    color: inherit !important;
}

.page-main {
    justify-content: space-between;
}

.page-description {
    display: block;
    width: 502px;
}

.left {
    margin-left: 30px;
}

.right {
    margin-right: 30px;

    color: var(--white);
}

.chapter {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2em;

    color: var(--opacity-dark);

    margin: 0;
}

.right .chapter {
    color: var(--opacity-white);
}

.page-main h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.page-description .description {
    font-family: Neucha, sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.2em;

    margin-top: 30px;
}

.page-main img {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.page-main h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
    
    text-transform: uppercase;

    display: block;
    width: 100%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

    margin-top: 100px;
    margin-bottom: 0;

    
}

.left-brown {
    color: var(--white);
    background-color: var(--brown);
}

.right-white {
    color: var(--brown);
    background-color: var(--white);
}

.page-main .columns {
    column-count: 2;
    column-gap: 30px;

    margin-top: 20px;
}

.page-footer {
    justify-content: space-between;
    margin-bottom: 100px;
}

.page-footer>div {
    width: 100%;
}

.footer-data {
    font-size: 14px;
    text-align: center;

    margin-top: 76px;
}

.footer-data p {
    margin-top: 0;
    margin-bottom: 16px;
}

.page-footer h3 {
    color: var(--white);

    margin-top: 55px;
    margin-left: 55px;
    margin-bottom: 55px;
}

.page-footer-email {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.page-footer-email form {
    margin-right: 55px;
}

.sr-only {
    position: absolute;

    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    overflow: hidden;

    white-space: nowrap;
}

.form-name {
    font-size: 18px;
    text-align: left;
    color: var(--white);

    margin-top: 40px;
    margin-bottom: 9px;
}

.page-footer input {
    width: 415px;
    height: 50px;

    box-sizing: border-box;
    border: 1px solid #e3e3e3;

    padding: 0;
}

form ::placeholder {
    font-size: 13.1px;
    columns: #757575;

    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 18px;
}

form {
    display: flex;
    justify-content: center;
}

.small-button::before {
    width: 20px;
    height: 20px;
    position: absolute;
    content: '';
    background-image: url(../assets/images/send.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10px;
    margin-left: -10px;
}

.footer-rules-agreement {
    font-size: 12px;
    color: var(--white);

    margin-top: 0;
}

.footer-rules-agreement a {
    color: var(--white) !important;
}

.footer-data a {
    color: var(--blue) !important;
}